@media screen and (max-width: 500px) and (min-width: 400px) {
    .fontSizeTitulos{

       font-size: 14.5px;
       font-weight: 500;
    }

    .fontSizeTitulosTabla{

        font-size: 14.5px;
        font-weight: bold;
     }

    #ancho{
        width: 100%;
    }

}